<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.toDo.repository.TodoDateMapper">

    <!-- date_value로 TodoDate 조회 -->
    <select id="findByDateValue" parameterType="java.time.LocalDate" resultType="TodoDate">
        SELECT
        id,
        date_value AS dateValue
        FROM
        todo_dates
        WHERE
        date_value = #{dateValue}
        LIMIT 1
    </select>

    <!-- TodoDate 삽입 -->
    <insert id="insert" parameterType="TodoDate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo_dates (date_value)
        VALUES (#{dateValue})
    </insert>
</mapper>