<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.todo.repository.TodoItemMapper">

    <insert id="insertTodoItem" parameterType="com.takoyakki.backend.domain.todo.dto.TodoCreateRequestDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todos (
            member_id,
            content,
            date,
            time,
            is_important,
            created_at,
            updated_at
        )
        VALUES (
                   #{memberId},
                   #{content},
                   #{date},
                   #{time},
                   #{isImportant},
                   NOW(),
                   NOW()
               )
    </insert>

    <update id="updateTodoItem">
        UPDATE todos
        SET
            content = #{request.content},
            date = #{request.date},
            time = #{request.time},
            is_important = #{request.isImportant},
            updated_at = NOW()
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>

    <update id="softDeleteTodoItem">
        UPDATE todos
        SET deleted_at = #{deletedAt}
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>

</mapper>
