<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="todo" type="com.takoyakki.backend.domain.toDo.model.Todo"/>
        <typeAlias alias="member" type="com.takoyakki.backend.domain.member.model.Member"/>
        </typeAliases>

    </configuration>