<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.challenge.repository.ProblemsMapper">

    <resultMap id="ProblemsSelectResponseMap" type="ProblemsSelectResponseDto">
        <result property="answer" column="correct_answer" />
        <result property="points" column="difficulty" />
    </resultMap>

    <insert id="insertProblem"  parameterType="ProblemsInsertRequestDto">
        INSERT INTO problems (
            title,
            contents,
            difficulty,
            subject,
            correct_answer
        ) VALUES (
            #{title},
            #{contents},
            #{difficulty},
            #{subject},
            #{correctAnswer}
        )
    </insert>

    <select id="selectProblem" parameterType="java.lang.Long" resultMap="ProblemsSelectResponseMap">
        SELECT
            difficulty,
            correct_answer
        FROM
            problems
        WHERE
            problem_id = #{problemId}
    </select>


</mapper>