<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.notification.repository.NotificationMapper">
    <!--    insertNotificationChallengeRankPointsToMentee-->
    <insert id="insertNotificationMentoringReservationToMentor" parameterType="MenteeReservationRequestDto">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at
        )
        VALUES
        (
            #{mentorId},
            'REGISTER',
            '멘토링 예약 알림',
            #{notificationContents},
            NOW()
        );
    </insert>

    <!--  selectNotificationToMentor  -->
    <select id="selectNotificationToMentor" resultType="NotificationToMentorSelectResponseDto">

    </select>

    <!--  selectNotificationToMentee  -->
    <select id="selectNotificationToMentee" resultType="NotificationToMenteeSelectResponseDto">

    </select>

<!--    insertAcceptNotificationMentoringReservationToMentee-->
    <insert id="insertAcceptNotificationMentoringReservationToMentee">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at
        )
        VALUES
        (
            #{memberId},
            'ACCEPT',
            '멘토링 예약 확정 알림',
            #{contents},
            NOW()
        );
    </insert>

<!--    insertRejectNotificationMentoringReservationToMentee-->
    <insert id="insertRejectNotificationMentoringReservationToMentee">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at
        )
        VALUES
        (
            #{memberId},
            'ACCEPT',
            '멘토링 예약 거절 알림',
            #{contents},
            NOW()
        );
    </insert>

<!--    insertCancelNotificationMentoringReservationToMentor-->
    <insert id="insertCancelNotificationMentoringReservationToMentor">
        INSERT INTO notification
        (
            member_id,
            type,
            title,
            contents,
            created_at
        )
        VALUES
        (
            #{memberId},
            'CANCEL',
            '멘토링 예약 취소 알림',
            #{contents},
            NOW()
        );
    </insert>


</mapper>