<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.takoyakki.backend.common.auth.mapper.AuthMapper">

    <resultMap id="LoginAuthCheckMap" type="LoginAuthCheckDto">
        <result property="memberName" column="member_name" />
    </resultMap>

        <select id="selectUserInfo" parameterType="java.lang.String" resultMap="LoginAuthCheckMap">
            SELECT
                id,
                member_name,
                password,
                role
            FROM members
            WHERE id = #{id}
        </select>
    </mapper>