<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.takoyakki.backend.domain.mentoring.repository.MentoringMapper">

    <!-- 멘토 리스트 조회 -->
    <select id="findAllMentors" resultType="com.takoyakki.backend.domain.mentoring.dto.MentorDto">
        SELECT id, name, company, job, career, profile_image_url AS profileImageUrl
        FROM mentor
                 LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 멘토 상세 조회 -->
    <select id="selectMentorById" resultType="com.takoyakki.backend.domain.mentoring.dto.MentorDto">
        SELECT id, name, company, job, career, profile_image_url AS profileImageUrl
        FROM mentor
        WHERE id = #{id}
    </select>

    <!-- 멘토 등록 -->
    <insert id="insertMentor" parameterType="com.takoyakki.backend.domain.mentoring.dto.MentorDto">
        INSERT INTO mentor (name, company, job, career, profile_image_url)
        VALUES (#{name}, #{company}, #{job}, #{career}, #{profileImageUrl})
    </insert>

    <!-- 멘토 정보 수정 -->
    <update id="updateMentor" parameterType="com.takoyakki.backend.domain.mentoring.dto.MentorDto">
        UPDATE mentor
        SET name = #{name},
            company = #{company},
            job = #{job},
            career = #{career},
            profile_image_url = #{profileImageUrl}
        WHERE id = #{id}
    </update>

    <!-- 멘토 삭제 -->
    <delete id="deleteMentor">
        DELETE FROM mentor
        WHERE id = #{id}
    </delete>

</mapper>
